body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  height: 87px;
  flex-shrink: 0;
  background-color: #d9d9d9;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header-logo img {
  width: 68px;
  height: 53px;
  flex-shrink: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container img {
  width: 571px;
  height: 383px;
  flex-shrink: 0;
}

.header-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.header-button {
  background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.header-button:hover {
  background: #45a049;
}
